// main: style.scss
.mainWrap.about {
    padding-top: 2px;
    .mainArea {
        section {
            overflow: hidden;
            position: relative;
            margin-bottom: 80px;
            &:before {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 66px;
                height: 26px;
                background: url("../images/hiyoko.png") no-repeat left bottom;
                background-size: 66px 26px;
            }
            &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                background: url("../images/border.png") repeat-x left bottom;
                left: 70px;
                bottom: 8px;
            }
            h1 {
                position: relative;
                font-weight: bold;
                padding-left: 10px;
                margin-bottom: 30px;
                &:before {
                    content: "";
                    position: absolute;
                    top: 22px;
                    left: 0;
                    z-index: 1;
                    height: 10px;
                    width: 100%;
                    background: #fdafb6;
                }
            }
            .text {
                padding: 0 20px;
                margin-bottom: 30px;
                line-height: 1.6;
            }
            .btnArea {
                overflow: hidden;
                margin: 0 auto;
                width: 670px;
                margin-bottom: 50px;
                .btn {
                    float: left;
                    text-align: center;
                    a {
                        width: 325px;
                        height: 50px;
                        line-height: 50px;
                        border: solid 2px #fc8c96;
                        color: #fc8c96;
                        box-sizing: border-box;
                        &:hover {
                            color: #ffffff;
                            background: #fc8c96;
                        }
                    }
                    &:nth-child(1) {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    &.contact {
        .mainArea {
            .contactArea {
                margin-bottom: 10px;
                .text {
                    span {
                        font-size: 1.2rem;
                    }
                }
            }
            .form {
                padding: 20px;
                margin: 0 auto;
                &:before , &:after {
                    display: none;
                }
                .formArea {
                    background: #ffffff;
                    padding: 20px;
                    -webkit-box-shadow: 2px -2px 5px rgba(199, 199, 199, 0.2), -2px 2px 5px rgba(199, 199, 199, 0.2);
                    box-shadow: 2px -2px 5px rgba(199, 199, 199, 0.2), -2px 2px 5px rgba(199, 199, 199, 0.2);
//                    form {
//                        dl {
//                            overflow: hidden;
//                            dt , dd {
//                                float: left;
//                            }
//                            dt {
//                                width:
//                            }
//                        }
//                        ul {
//                            li {
//                                font-size: 1.4rem;
//                                margin-bottom: 20px;
//                                overflow: hidden;
//                                p {
//                                    float: left;
//                                    margin: 0 5px 5px 0;
//                                    width: 150px;
//                                    height: 30px;
//                                    line-height: 30px;
//                                    span {
//                                        font-size: 1.2rem;
//                                        color: #fe5858;
//                                    }
//                                }
//                                input {
//                                    border: solid 1px #c9c9c9;
//                                    height: 30px;
//                                    padding: 5px;
//                                    box-sizing: border-box;
//                                    width: 470px;
//                                }
//                                select {
//                                    -webkit-appearance: none;
//                                    -moz-appearance: none;
//                                    appearance: none;
//                                    height: 30px;
//                                    padding: 5px;
//                                    border: solid 1px #c9c9c9;
//                                    color: #c9c9c9;
//                                    border-radius: 0;
//                                    background: #ffffff;
//                                    width: 470px;
//                                    box-sizing: border-box;
//                                }
//                                textarea {
//                                    margin-top: 5px;
//                                    border: solid 1px #c9c9c9;
//                                    box-sizing: border-box;
//                                    width: 470px;
//                                }
//                                &:nth-last-child(2) {
//                                    margin-bottom: 40px;
//                                }
//                                &:last-child {
//                                    text-align: center;
//                                    p {
//                                        width: auto;
//                                        height: auto;
//                                        float: none;
//                                        line-height: 1.4;
//                                        margin-bottom: 20px;
//                                        a {
//                                            display: inline-block;
////                                            color: #33bad2;
//                                            &:hover {
//                                                opacity: 0.6;
//                                            }
//                                        }
//                                    }
//                                    button {
//                                        width: 320px;
//                                        height: 50px;
//                                        line-height: 50px;
//                                        border: solid 2px #fc8c96;
//                                        background: none;
//                                        color: #fc8c96;
//                                        font-size: inherit;
//                                        box-sizing: border-box;
//                                        @extend %transition;
//                                        &:hover {
//                                            background: #fc8c96;
//                                            color: #ffffff;
//                                            font-size: inherit;
//                                            line-height: 50px;
//                                        }
//                                    }
//                                }
//                            }
//                        }
//                    }
                    dl {
                        overflow: hidden;
                        margin-bottom: 20px;
                        &:nth-child(4) {
                            margin-bottom: 50px;
                        }
                        &.select {
                            dd {
                                position: relative;
                                &:before {
                                    content: '\f107';
                                    position: absolute;
                                    top: 5px;
                                    right: 10px;
                                    font: normal normal normal 14px/1 FontAwesome;
                                    font-size: 2rem;
                                    text-rendering: auto;
                                    -webkit-font-smoothing: antialiased;
                                }
                            }
                        }
                        dt , dd {
                            float: left;
                        }
                        dt {
                            width: 190px;
                            height: 30px;
                            line-height: 30px;
                            span {
                                font-size: 1.2rem;
                                color: #fe5858;
                            }
                        }
                        dd {
                            width: 440px;
                            input[type="text"] , input[type="email"] {
                                width: 440px;
                                height: 30px;
                                border: solid 1px #c9c9c9;
                                padding: 5px;
                                box-sizing: border-box;
                            }
                            select {
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    height: 30px;
                                    padding: 5px;
                                    border: solid 1px #c9c9c9;
                                    color: #c9c9c9;
                                    border-radius: 0;
                                    background: #ffffff;
                                    width: 440px;
                                    box-sizing: border-box;
                                }
                            textarea {
                                width: 440px;
                                border: solid 1px #c9c9c9;
                                box-sizing: border-box;
                                resize: vertical;
                            }
                        }
                    }
                    p {
                        text-align: center;
                        margin-bottom: 20px;
                        a {
                            display: inline-block;
                            &:hover {
                                opacity: 0.6;
                            }
                        }
                    }
                    button {
                        display: block;
                        width: 300px;
                        height: 50px;
                        line-height: 50px;
                        border: solid 2px #fc8c96;
                        color: #fc8c96;
                        font-size: inherit;
                        margin: 0 auto;
                        background: none;
                        box-sizing: border-box;
                        @extend %transition;
                        &:hover {
                            background: #fc8c96;
                            color: #ffffff;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    &.job {
        .mainArea {
            section:before , section:after {
                display: none;
            }
            .jobArea {
                margin-bottom: 30px;
                .jobWrap {
                    padding: 0 20px;
                    .text {
                        padding: 0;
                    }
                    .siteArea {
                        border: solid 2px #fc8c96;
                        h2 {
                            height: 40px;
                            line-height: 40px;
                            background: #fc8c96;
                            color: #ffffff;
                            padding-left: 10px;
                        }
                        .siteWrap {
                            padding: 20px;
                            .site {
                                margin-bottom: 10px;
                                a {
                                    height: 22px;
                                    line-height: 22px;
                                    i {
                                        margin-right: 10px;
                                        color: #727272;
                                        font-size: 2.3rem;
                                        width: 22px;
                                        text-align: center;
                                        vertical-align: bottom;
                                        @extend %transition;
                                    }
                                    &:hover {
                                        opacity: 0.6;
                                    }
                                }
                                &.pc {
                                    a {
                                        i {
                                            font-size: 2.1rem;
                                        }
                                        &:hover {
                                            i {
                                                color: #fc8c96;
                                                font-size: 2.1rem;
                                            }
                                        }
                                    }
                                }
                                &.fb {
                                    a:hover {
                                        i {
                                            color: #315096;
                                        }
                                    }
                                }
                                &.inst {
                                    margin-bottom: 0;
                                    a:hover {
                                        i {
                                            color: #3f729b;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .detailArea {
                        section {
                            margin-bottom: 30px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        h2 {
                            position: relative;
                            font-weight: bold;
                            padding-bottom: 5px;
                            margin-bottom: 20px;
                            &:before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                border-bottom: solid 1px #fc8c96;
                            }
                        }
                        .text {
                            padding: 0 20px;
                        }
                        table {
                            width: 630px;
                            margin: 0 auto 20px;
                            th , td {
                                border: solid 1px #c7c5c5;
                                padding: 20px;
                            }
                        }
                    }
                }
            }
            .form {
                overflow: visible;
                padding: 0 20px;
                h2 {
                    position: relative;
                    font-weight: bold;
                    padding-bottom: 5px;
                    margin-bottom: 20px;
                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        border-bottom: solid 1px #fc8c96;
                    }
                }
                p {
                    margin-bottom: 20px;
                    padding-left: 20px;
                }
                .red {
                    @extend %red;
                    font-size: 1.2rem;
                }
                .formArea {
                    width: 630px;
                    box-sizing: border-box;
                    padding: 20px 20px 50px;
                    background: #ffffff;
                    margin: 0 auto;
                    -webkit-box-shadow: 2px -2px 5px rgba(199, 199, 199, 0.2), -2px 2px 5px rgba(199, 199, 199, 0.2);
                    box-shadow: 2px -2px 5px rgba(199, 199, 199, 0.2), -2px 2px 5px rgba(199, 199, 199, 0.2);
                    table {
                        margin-bottom: 40px;
                        tr {
                            height: 60px;
//                            line-height: 60px;
                            box-sizing: border-box;
                            &.textarea {
                                height: 170px;
                            }
                            &:nth-last-child(2) {
                                th {
                                    line-height: 1.4;
                                }
                            }
                        }
                        th , td {
                            box-sizing: border-box;
                            vertical-align: middle;
                        }
                        th {
                            width: 250px;
//                            padding: 10px;
                        }
                        td {
//                            width: 340px;
                            position: relative;
                            input {
                                border: solid 1px #c9c9c9;
                                width: 340px;
                                height: 40px;
                                line-height: 40px;
                                padding-left: 10px;
                                box-sizing: border-box;
                            }
                            &.radio {
                                label:nth-child(1) {
                                    margin-right: 20px;
                                }
                                input {
                                    -webkit-appearance: radio;
                                    -moz-appearance: radio;
                                    appearance: radio;
                                    display: inline-block;
                                    width: auto;
                                    height: auto;
                                    line-height: 0;
                                    vertical-align: text-top;
                                    margin-right: 5px;
                                }
                            }
                            select {
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                width: 340px;
                                height: 40px;
                                padding-left: 10px;
                                border: solid 1px #c9c9c9;
                                border-radius: 0;
                                background: #ffffff;
                                box-sizing: border-box;

                            }
                            textarea {
                                width: 340px;
                                padding: 10px;
                                box-sizing: border-box;
                                border: solid 1px #c9c9c9;
                                resize: vertical;
                            }
                            &.select {
                                position: relative;
                            }
                            &.select:before {
                                content: "\f078";
                                position: absolute;
                                top: 26px;
                                right: 5px;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: 1.2rem;
                                text-rendering: auto;
                                z-index: 1;
                            }
                        }
                    }
                    p {
                        text-align: center;
                        a {
                            display: inline-block;
                        }
                    }
                    .submit {
                        display: block;
                        text-align: center;
                        width: 300px;
                        height: 50px;
                        line-height: 50px;
                        color: #fdafb6;
                        border: solid 2px #fdafb6;
                        box-sizing: border-box;
                        background: none;
                        font-size: 1.6rem;
                        margin: 0 auto;
                        @extend %transition;
                        &:hover {
                            color: #ffffff;
                            background: #fdafb6;
                        }
                    }
                }
            }
        }
    }
}
