// main: style.scss
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    line-height: 1.2;
    color: #333333;
    background: #f9f9f9;
    font-size: 1.6rem;
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    word-wrap:break-word;
    overflow-wrap:break-word;
}
a {
    @extend %transition;
}

/*******
ヘッダー
*************************/
header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 10px 10px -10px rgba(147,146,146,0.7);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(147, 146, 146, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(147,146,146,0.3);
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 10px;
        border-top: solid 10px #d9517c;
    }
}
//header:before {
//    content: '';
//    position: absolute;
//    left: 0;
//    top: 0;
//    width: 100%;
//    height: 10px;
//    border-top: solid 10px #d9517c;
//}
.headerWrap {
    width: 1020px;
    margin: 0 auto;
    padding: 10px 5px 0;
    overflow: hidden;
    h1 {
        float: left;
    }
    .otherArea {
        float: right;
        padding: 5px 0;
        .searchArea {
            padding-bottom: 5px;
            input {
                width: 120px;
                height: 30px;
                border: solid 1px #b4b3b3;
                border-radius: 3px 0 0 3px;
                padding: 5px;
                box-sizing: border-box;
                vertical-align: bottom;
                transition: width 0.2s ease-in;
            }
            input.focus {
                width: 200px;
            }
            .searchIcon {
                width: 50px;
                background: #666666;
                height: 30px;
                border-radius: 0 3px 3px 0;
                i {
                    color: #ffffff;
                    font-size: 2rem;
                    vertical-align: super;
                }
            }
        }
        .snsList {
            overflow: hidden;
            float: right;
            height: 30px;
            li {
                float: left;
                font-size: 3rem;
                margin-right: 21px;
                line-height: 30px;
                a {
                    .icon {
                        color: #666666;
                        @extend %transition;
                    }
                    &:hover {
                        .fb {
                            color: #315096;
                        }
                        .inst {
                            color: #3f729b;
                        }
                        .fd {
                            color: #6cc655;
                        }
                        .rss {
                            color: #ff8c00;
                        }
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

/*******
パンくず
*************************/
#breadcrumb {
    position: relative;
    padding-top: 86px;
    margin-bottom: 78px;
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: solid 1px #c9c9c9;
    }
    .breadcrumbList {
        overflow: hidden;
        width: 1040px;
        margin: 0 auto;
        padding: 0 10px;
        li {
            float: left;
            font-size: 1.4rem;
            min-height: 57px;
            box-sizing: border-box;
            a {
                color: inherit;
                padding: 20px 0;
                i {
                    font-size: 1.6rem;
                    margin: 0 20px;
                }
                &:hover {
                    opacity: 0.6;
                }
            }
            &:last-child {
                padding: 20px 0;
            }
            &:nth-child(2n) {
                padding: 20px 0;
                min-width: 60px;
                text-align: center;
            }
        }
    }
}

/*******
メインエリア
*************************/
.mainWrap {
    width: 1040px;
    margin: 0 auto;
    padding-top: 85px;
    overflow: hidden;
}
.slider {
    padding: 50px 0 0;
    width: 900px;
    margin: 0 auto 30px;
    .slick-track {
        margin-bottom: 30px;
    }
    .article {
        position: relative;
        width: 900px;
        height: 400px;
        overflow: hidden;
        a {
            .imgArea {
                overflow: hidden;
                width: 900px;
                height: 400px;
                background-size: 100%;
                margin: 0 auto;
                @extend %transition;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .title {
                width: 750px;
                position: absolute;
                bottom: 30px;
                right: 0;
                left: 0;
                margin: 0 auto;
                color: #ffffff;
                font-weight: bold;
                font-size: 2rem;
                text-shadow: 1px 1px 2px #5d5c5c;
                @extend %towLine;
            }
            &:hover {
                .imgArea {
                    opacity: 0.7;
                }
            }
        }
    }
    .dot-class {
        text-align: center;
        li {
            display: inline-block;
            width: auto;
            height: auto;
            margin-right: 20px;
            .icon-2 {
                color: #b3b3b3;
                display: inline-block;
                transition: all .2s ease-in;
                font-size: 2rem;
            }
            &:last-child {
                margin-right: 0;
            }
            &.slick-active {
                .icon-2 {
                    color: #a27043;
                    transform: rotate(-20deg);
                    -ms-transform: rotate(-20deg);
                    -moz-transform: rotate(-20deg);
                    -webkit-transform: rotate(-20deg);
                    -o-transform: rotate(-20deg);
                }
            }
        }
    }
}
.heading {
    position: relative;
    padding: 0 0 5px 5px;
    margin-bottom: 30px;
    span {
        @extend %h1;
        margin-right: 2px;
    }
    span:nth-child(1) {
        @extend %ttl1;
    }
    span:nth-child(4n+1) {
        @extend %color1;
    }
    span:nth-child(4n+2) {
        @extend %color2;
    }
    span:nth-child(4n+3) {
        @extend %color3;
    }
    span:nth-child(4n+4) {
        @extend %color4;
    }
    &:before {
        content: "";
        position: absolute;
        top: 22px;
        left: 0;
        z-index: 1;
        height: 10px;
        width: 100%;
        background: #595757;
    }
}

.articleListArea {
    margin-bottom: 100px;
}
.articleList {
    overflow: hidden;
    padding: 0 20px;
    li {
        width: 320px;
        float: left;
        margin: 0 20px 50px 0;
        .imgArea {
            position: relative;
            margin-bottom: 20px;
            .overlay {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(89,87,87,0.5);
                width: 100%;
                height: 100%;
                color: #ffffff;
                @extend %transition;
                .ovWrap {
                    width: 200px;
                    height: 100px;
                    position: absolute;
                    top: 48px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    text-align: center;
                    box-sizing: border-box;
                    padding: 27px 0;
                    overflow: hidden;
                    p {
                        font-size: 2rem;
                    }
                    i {
                        display: block;
                        margin-bottom: 5px;
                        font-size: 2rem;
                        font-weight: bold;
                    }
                    .bd {
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }
                    .bdT {
                        border-top: 3px solid #fff;
                        position: absolute;
                        width: 200px;
                        top: 0;
                        left: -300%;
                    }
                    .bdB {
                        border-bottom: 3px solid #fff;
                        position: absolute;
                        width: 200px;
                        bottom: 0;
                        left: 300%;
                    }
                    .bdR {
                        border-right: 3px solid #fff;
                        position: absolute;
                        top: -300%;
                        right: 0;
                        width: 2px;
                        height: 100px;
                    }
                    .bdL {
                        border-left: 3px solid #fff;
                        position: absolute;
                        top: -300%;
                        left: 0;
                        width: 2px;
                        height: 100px;
                    }
                }
            }
        }
        .content {
            color: #333333;
            .articleData {
                overflow: hidden;
                .data , .cat {
                    font-size: 1.4rem;
                    float: left;
                }
                .data {
                    margin:0 5px 5px 0;
                }
            }
            h2 {
                overflow: hidden;
                font-weight: bold;
                @extend %towLine;
                margin-bottom: 10px;
                line-height: 1.4;
            }
            .articleData {
                overflow: hidden;
                .name , .pv {
                    font-size: 1.4rem;
                }
                .name {
                    float: left;
                }
                .pv {
                    float: right;
                    i {
                        margin-right: 5px;
                        color: #fd97a0;
                    }
                }
            }
        }
        &:hover {
            .imgArea {
                .overlay {
                    opacity: 1;
                    .ovWrap {
                        .bdT {
                            left: -0%;
                        }
                        .bdB {
                            left: -0%;
                        }
                        .bdR {
                            top: -0%;
                        }
                        .bdL {
                            top: -0%;
                        }
                    }
                }
            }
            .content {
                opacity: 0.7;
            }
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
//    li:hover {
//        .imgArea {
//            .overlay {
//                opacity: 1;
//                .ovWrap {
//                    .bdT {
//                        left: -0%;
//                    }
//                    .bdB {
//                        left: -0%;
//                    }
//                    .bdR {
//                        top: -0%;
//                    }
//                    .bdL {
//                        top: -0%;
//                    }
//                }
//            }
//        }
//        .content {
//            opacity: 0.7;
//        }
//    }
//    li:nth-child(3n) {
//        margin-right: 0;
//    }
}
.moreBtn {
    padding: 0 20px;
    a {
        color: #fc8c96;
        height: 50px;
        line-height: 50px;
        border: solid 2px #fc8c96;
        text-align: center;
        box-sizing: border-box;
        @extend %transition;
        &:hover {
            background: #fc8c96;
            color: #ffffff;
        }
    }
//    a:hover {
//        background: #fc8c96;
//        color: #ffffff;
//    }
}
.specialArea {
    .heading:before {
        background: #e95383;
    }
}
.mainArea {
    float: left;
    width: 710px;
}
.rankingListArea {
    .heading:before {
        background: #ecd35d;
    }
    .tabs {
        padding: 20px 0;
    }
    .tabMenuList {
        overflow: hidden;
        padding: 5px 20px 0;
        li {
            float: left;
            cursor: pointer;
            width: 130px;
            height: 40px;
            line-height: 40px;
            color: #ffffff;
            text-align: center;
            background: #fc8c96;
            border-radius: 5px 5px 0 0;
            margin-right: 5px;
            box-shadow: 1px 0px 1px rgba(199, 199, 199, 0.5), -1px 0 1px rgba(199, 199, 199, 0.5);
            &.active {
                background: #ffffff;
                color: #fc8c96;
                position: relative;
            }
            &.active:before {
                content: "\f091";
                color: #ecd35d;
                position: absolute;
                top: 3px;
                bottom: 0;
                left: 15px;
                margin: 7px auto;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 2rem;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
            }
        }
    }
    .tabContentArea {
        background: #ffffff;
        padding: 20px 20px 50px;
        margin: 0 20px;
        box-shadow: 1px -1px 1px rgba(199,199,199,0.5),-1px 0 1px rgba(199,199,199,0.5);
        .tabContent {
            display: none;
        }
        .tabContent.tabSelected {
            display: block;
        }
        .rankingList {
            padding: 0;
            li {
                width: 200px;
                padding-top: 55px;
                margin-right: 15px;
                .imgArea {
                    overflow: hidden;
                    width: 200px;
                    height: 150px;
                    img {
                        height: 100%;
                    }
                    .overlay {
                        .ovWrap {
                            width: 160px;
                            top: 25px;
                        }
                    }
                }
                .articleData {
                    overflow: hidden;
                    .data , .cat {
                        float: left;
                    }
                    .data {
                        margin-right: 5px;
                    }
                    .cat {
                        font-size: 1.4rem;
                    }
                }
                &:nth-child(1) {
                    background: url(../images/no1.png) no-repeat top center;
                }
                &:nth-child(2) {
                    background: url(../images/no2.png) no-repeat top center;
                }
                &:nth-child(3) {
                    background: url(../images/no3.png) no-repeat top center;
                    margin-right: 0;
                }
                &:nth-child(4) {
                    background: url(../images/no4.png) no-repeat top center;
                }
                &:nth-child(5) {
                    background: url(../images/no5.png) no-repeat top center;
                }
                &:nth-child(6) {
                    background: url(../images/no6.png) no-repeat top center;
                    margin-right: 0;
                }
            }
//            li:nth-child(1) {
//                background: url(../images/no1.png) no-repeat top center;
//            }
//            li:nth-child(2) {
//                background: url(../images/no2.png) no-repeat top center;
//            }
//            li:nth-child(3) {
//                background: url(../images/no3.png) no-repeat top center;
//                margin-right: 0;
//            }
        }
    }
}

.newArea {
    .heading:before {
        background: #7fb9ea;
    }
    .newList {
        li:nth-child(2n) {
            margin-right: 0;
        }
        li:nth-child(3n) {
            margin-right: 20px;
        }
    }
}

.movieArea {
    .heading:before {
        background: #7feab4;
    }
}
.movieList {
    padding: 0 20px;
    margin-bottom: 50px;
    overflow: hidden;
    li {
        width: 320px;
        height: 320px;
        position: relative;
        float: left;
        margin: 0 30px 20px 0;
        .overlay {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(89,87,87,0.5);
                width: 100%;
                height: 100%;
                padding: 30px;
                color: #ffffff;
                box-sizing: border-box;
                @extend %transition;
                .ovWrap {
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    right: 30px;
                    margin: 0 auto;
                    box-sizing: border-box;
                    overflow: hidden;
                    height: 260px;
                    .ttlArea {
                        width: 240px;
                        text-align: center;
                        border-bottom: solid 2px #ffffff;
                        padding: 40px 0 20px;
                        margin: 0 auto 20px;
                        p {
                            font-size: 2rem;
                        }
                        i {
                            display: block;
                            margin-bottom: 5px;
                            font-size: 2.5rem;
                        }
                    }
                    .contentData {
                        width: 240px;
                        margin: 0 auto;
                        overflow: hidden;
                        .articleData {
                            overflow: hidden;
                            margin-bottom: 10px;
                            .data , .cat {
                                float: left;
                                font-size: 1.4rem;
                            }
                            .data {
                                margin-right: 5px;
                            }
                        }
                        h2 {
                            overflow: hidden;
                            line-height: 1.4;
                            margin-bottom: 20px;
                            @extend %towLine;
                        }
                        .pv {
                            float: right;
                            font-size: 1.4rem;
                            i {
                                color: #fd97a0;
                                margin-right: 5px;
                            }
                        }
                    }
                    .bd {
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }
                    .bdT {
                        border-top: 3px solid #fff;
                        position: absolute;
                        width: 280px;
                        top: 0;
                        left: -300%;
                    }
                    .bdB {
                        border-bottom: 3px solid #fff;
                        position: absolute;
                        width: 280px;
                        bottom: 0;
                        left: 300%;
                    }
                    .bdR {
                        border-right: 3px solid #fff;
                        position: absolute;
                        top: -300%;
                        right: 0;
                        width: 2px;
                        height: 280px;
                    }
                    .bdL {
                        border-left: 3px solid #fff;
                        position: absolute;
                        top: -300%;
                        left: 0;
                        width: 2px;
                        height: 280px;
                    }
                }
            }
        &:hover {
            .overlay {
                opacity: 1;
                .ovWrap {
                    .bdT {
                        left: -0%;
                    }
                    .bdB {
                        left: -0%;
                    }
                    .bdR {
                        top: -0%;
                    }
                    .bdL {
                        top: -0%;
                    }
                }
            }
        }
        &:nth-child(2n) {
            margin-right: 0;
        }
        &:nth-last-child(1),&:nth-last-child(2) {
            margin-bottom: 0px;
        }
    }
//    li:hover {
//        .overlay {
//            opacity: 1;
//            .ovWrap {
//                .bdT {
//                    left: -0%;
//                }
//                .bdB {
//                    left: -0%;
//                }
//                .bdR {
//                    top: -0%;
//                }
//                .bdL {
//                    top: -0%;
//                }
//            }
//        }
//    }
//    li:nth-child(2n) {
//        margin-right: 0;
//    }
//    li:nth-child(3),li:nth-child(4) {
//        margin-bottom: 50px;
//    }
}

.pulsArea {
    margin-bottom: 80px;
    .heading:before {
        background: #6fd74b;
    }
    .articleList {
        li {
            margin-right: 20px;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}


.itemList {
    overflow: hidden;
    clear: both;
    padding: 5px;
    margin-bottom: 50px;
    width: auto;
    li {
        position: relative;
        float: left;
        margin: 0 20px 20px 0;
        width: 220px;
        padding: 20px;
        background: #ffffff;
        box-sizing: border-box;
        box-shadow: 1px 1px 5px rgba(199, 199, 199, 0.5), -1px -1px 5px rgba(199, 199, 199, 0.5);
        &:nth-child(3n) {
            margin-right: 0;
        }
        a {
            color: inherit;
            .imgArea {
                width: 180px;
                height: 180px;
                margin-bottom: 10px;
                img {
                    width: 100%;
                    text-align: center;
                }
            }
            .starArea {
                margin-bottom: 10px;
                i {
                    color: #d4d3d3;
                    font-size: 1.8rem;
                    &.on {
                        color: #fcc68c;
                    }
                }
            }
            h2 {
                margin-bottom: 10px;
                font-weight: bold;
            }
            .overlay {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(89,87,87,0.5);
                width: 100%;
                height: 100%;
                color: #ffffff;
                @extend %transition;
                .ovWrap {
                    width: 160px;
                    height: 100px;
                    position: absolute;
                    top: 105px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    text-align: center;
                    box-sizing: border-box;
                    padding: 25px 0;
                    overflow: hidden;
                    p {
                        font-size: 2rem;
                    }
                    i {
                        display: block;
                        margin-bottom: 5px;
                        font-size: 2.4rem;
                        font-weight: bold;
                    }
                    .bd {
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }
                    .bdT {
                        border-top: 3px solid #fff;
                        position: absolute;
                        width: 200px;
                        top: 0;
                        left: -300%;
                    }
                    .bdB {
                        border-bottom: 3px solid #fff;
                        position: absolute;
                        width: 200px;
                        bottom: 0;
                        left: 300%;
                    }
                    .bdR {
                        border-right: 3px solid #fff;
                        position: absolute;
                        top: -300%;
                        right: 0;
                        width: 2px;
                        height: 100px;
                    }
                    .bdL {
                        border-left: 3px solid #fff;
                        position: absolute;
                        top: -300%;
                        left: 0;
                        width: 2px;
                        height: 100px;
                    }
                }
            }
            &:hover {
                .overlay {
                    opacity: 1;
                    .ovWrap {
                        .bdT {
                            left: -0%;
                        }
                        .bdB {
                            left: -0%;
                        }
                        .bdR {
                            top: -0%;
                        }
                        .bdL {
                            top: -0%;
                        }
                    }
                }
            }
        }
    }
}

/*******
星
*************************/
.starArea {
    i {
        color: #d4d3d3;
        font-size: 1.8rem;
        &.on {
            color: #fcc68c;
        }
    }
}


/*******
topカテゴリ
*************************/
.topCatArea {
    background: #ffffff;
    .topCatWrap {
        overflow: hidden;
        width: 1040px;
        margin: 0 auto;
        padding: 50px 20px;
        box-sizing: border-box;
        .catContentWrap {
            overflow: hidden;
//            margin-bottom: 30px;
            .catIcon {
                float: left;
                width: calc(100% / 3);
                height: 140px;
                margin: 0 auto;
                text-align: center;
                @extend %transition;
                .icon {
                    width: 140px;
                    height: 140px;
                    display: block;
                    margin: 0 auto;
                    font-size: 7rem;
                    border-radius: 50%;
                    box-sizing: border-box;
                    @extend %transition;
                }
                .icon.child {
                    color: #fcc68c;
                    border: solid 3px #fcc68c;
                    padding: 33px 0;
                }
                .icon.mama {
                    color: #fc8c96;
                    border: solid 3px #fc8c96;
                    padding: 20px 0 25px;
                    font-size: 9rem;
                }
                .icon.age {
                    color: #7fb9ea;
                    border: solid 3px #7fb9ea;
                    padding: 37px 0;
                    font-size: 7rem;
                }
            }
            .childCat.active {
                .icon.child {
                    background: #fcc68c;
                    color: #ffffff;
                }
            }
            .mamaCat.active {
                .icon.mama {
                    background: #fc8c96;
                    color: #ffffff;
                }
            }
            .ageCat.active {
                .icon.age {
                    background: #7fb9ea;
                    color: #ffffff;
                }
            }

        }
        .catContent {
            clear: both;
            width: 1000px;
            position: relative;
            transition: border 0.5s ease,
                margin-top 0.2s ease,
                height 0.2s ease,
                opacity 0.2s ease;
            border: solid 3px transparent;
            opacity: 0;
            height: 0;
            box-sizing: border-box;
            .listWrap {
                height: 100%;
                overflow: hidden;
            }
            .catList {
                opacity: 0;
                height: 0;
                //                    width: 0;
                li {
                    height: 0;
                    margin: 0;
                    .grandsonCatList {
                        li {
                            a {
                                color: inherit;
                            }
                            &:hover {
                                a {
                                    opacity: 0.6;
                                }
                            }
                        }
//                        li:hover {
//                            a {
//                                opacity: 0.6;
//                            }
//                        }
                    }
                }
            }
            &:before {
                border: solid 22px transparent;
                content: '';
                position: absolute;
                top: -46px;
                left: 475px;
                transition: left 0.3s ease-out, border-color 0.2s ease;
            }
            &:after {
                border: solid 22px transparent;
                border-bottom: solid 22px #ffffff;
                content: '';
                position: absolute;
                top: -46px;
                left: 475px;
                transition: left 0.3s ease-out, border-color 0.2s ease;
            }
        }

//        .catContent:before {
//            border: solid 22px transparent;
//            content: '';
//            position: absolute;
//            top: -46px;
//            left: 475px;
//            transition: left 0.3s ease-out, border-color 0.2s ease;
//        }
//        .catContent:after {
//            border: solid 22px transparent;
//            border-bottom: solid 22px #ffffff;
//            content: '';
//            position: absolute;
//            top: -46px;
//            left: 475px;
//            transition: left 0.3s ease-out, border-color 0.2s ease;
//        }
        .catContent.cat-child , .catContent.cat-mama , .catContent.cat-age {
            opacity: 1;
            //                padding: 30px 40px;
            margin-top: 30px;
            &:before {
                content: '';
                position: absolute;
                border: solid 22px transparent;
            }
            &:after {
                content: '';
                position: absolute;
                border: solid 22px transparent;
                border-bottom: solid 22px #ffffff;
            }
            .catList {
                display: none;
            }
        }
        .catContent.catLeave {
            opacity: 0;
            margin: 0;
        }
//        .catContent.cat-child:before , .catContent.cat-mama:before , .catContent.cat-age:before {
//            content: '';
//            position: absolute;
//            border: solid 22px transparent;
//        }
//        .catContent.cat-child:after , .catContent.cat-mama:after , .catContent.cat-age:after {
//            content: '';
//            position: absolute;
//            border: solid 22px transparent;
//            border-bottom: solid 22px #ffffff;
//        }
        .catContent.cat-child {
            border: solid 3px #fcc68c;
            .catList#cat-child {
                display: block;
                height: auto;
                width: auto;
                opacity: 1;
                li {
                    height: auto;
                    width: auto;
                    h3 {
                        color: #fcc68c;
                    }
                }
            }
            &:before {
                border-bottom: solid 22px #fcc68c;
                top: -46px;
                left: 140px;
            }
            &:after {
                top: -41px;
                left: 140px;
            }
        }
//        .catContent.cat-child:before {
//            border-bottom: solid 22px #fcc68c;
//            top: -46px;
//            left: 140px;
//        }
//        .catContent.cat-child:after {
//            top: -41px;
//            left: 140px;
//        }
        .catContent.cat-mama {
            border: solid 3px #fc8c96;
            .catList#cat-mama {
                display: block;
                height: auto;
                width: auto;
                opacity: 1;
                li {
                    height: auto;
                    width: auto;
                    h3 {
                        color: #fc8c96;
                    }
                }
            }
            &:before {
                border-bottom: solid 22px #fc8c96;
                top: -46px;
                left: 475px;
            }
            &:after {
                top: -41px;
                left: 475px;
            }
        }

//        .catContent.cat-mama:before {
//            border-bottom: solid 22px #fc8c96;
//            top: -46px;
//            left: 475px;
//        }
//        .catContent.cat-mama:after {
//            top: -41px;
//            left: 475px;
//        }
        .catContent.cat-age {
            border: solid 3px #7fb9ea;
            .catList#cat-age {
                display: block;
                height: auto;
                width: auto;
                opacity: 1;
                li {
                    height: auto;
                    width: auto;
                }
            }
            &:before {
                border-bottom: solid 22px #7fb9ea;
                top: -46px;
                left: 808px;
            }
            &:after {
                top: -41px;
                left: 808px;
            }
        }
//        .catContent.cat-age:before {
//            border-bottom: solid 22px #7fb9ea;
//            top: -46px;
//            left: 808px;
//        }
//        .catContent.cat-age:after {
//            top: -41px;
//            left: 808px;
//        }
        .catContent {
//            width: 100%;
//            width: calc(100% / 3);
//            float: left;
//            padding: 0 20px;
//            box-sizing: border-box;
            .catIcon {
                width: 140px;
                height: 140px;
                border-radius: 50%;
                box-sizing: border-box;
                margin: 0 auto 30px;
                @extend %transition;
                .icon {
                    display: inline-block;
                    margin: 0 auto;
                    font-size: 7rem;
                    width: 134px;
                    line-height: 134px;
                    text-align: center;
                }
            }
            .catList {
                position: relative;
                margin: 30px 40px;
                h3 {
                    margin-bottom: 10px;
                }
                li {
                    margin-bottom: 20px;
                    .grandsonCatList {
                        overflow: hidden;
                        padding: 0 20px;
                        li {
                            float: left;
                            margin: 0 20px 10px 0;
                        }
                    }
                }
            }
//            .catList:before {
//                content: '';
//                position: absolute;
//                border: solid 22px transparent;
//                border-bottom: solid 22px #fcc68c;
//                top: -46px;
//                left: 120px;
//            }
//            .catList:after {
//                content: '';
//                position: absolute;
//                border: solid 22px transparent;
//                border-bottom: solid 22px #ffffff;
//                top: -41px;
//                left: 120px;
//            }
        }
        .catContent.child {
            .catIcon , h3 {
                color: #fcc68c;
            }
            .catIcon {
                border: solid 3px #fcc68c;
            }
            .catList {
                border: solid 3px #fcc68c;
                padding: 20px;
            }
        }
        .catContent.mama {
            .catIcon , h3 {
                color: #fc8c96;
            }
            .catIcon {
                border: solid 3px #fc8c96;
            }
            .catList {
                border: solid 3px #fc8c96;
                padding: 20px;
                &:before {
//                left: 455px;
                    border: solid 22px transparent;
                    border-bottom: solid 22px #fc8c96;
                }
            }
//            .catList:before {
////                left: 455px;
//                border: solid 22px transparent;
//                border-bottom: solid 22px #fc8c96;
//            }
//            .catList:after {
//                left: 455px;
//            }
        }
        .catContent.age {
            h2 , h3 {
                color: #7fb9ea;
            }
            .catIcon {
                border: solid 3px #7fb9ea;
            }
            .catList {
                border: solid 3px #7fb9ea;
                padding: 20px;
                &:before {
                    right: 120px;
                    left: auto;
                    border: solid 22px transparent;
                    border-bottom: solid 22px #7fb9ea;
                }
                &:after {
                    right: 120px;
                    left: auto;
                }
            }
//            .catList:before {
//                right: 120px;
//                left: auto;
//                border: solid 22px transparent;
//                border-bottom: solid 22px #7fb9ea;
//            }
//            .catList:after {
//                right: 120px;
//                left: auto;
//            }
        }
    }
}

/*******
ページネーション
*************************/
.pagination {
    ul {
        text-align: center;
        li {
            display: inline-block;
            border: solid 1px #fc8c96;
            border-radius: 3px;
            min-width: 42px;
            min-height: 42px;
            box-sizing: border-box;
            margin-right: 10px;
            vertical-align: middle;
            line-height: 40px;
            a {
                color: #fc8c96;
                min-width: 40px;
                min-height: 40px;
                line-height: 40px;
                padding: 0 5px;
                box-sizing: border-box;
                @extend %transition;
                &:hover {
                    background: #fc8c96;
                    color: #ffffff;
                }
            }
            i {
                font-size: 2rem;
            }
            &:nth-child {
                margin-right: 0;
            }
            &.active {
                background: #fc8c96;
                color: #ffffff;
            }
        }
    }

}



/*******
サイドエリア
*************************/
.sideArea {
    float: right;
    width: 300px;
    .heading {
        margin-bottom: 0;
    }
    .sideCatArea {
        margin-bottom: 50px;
        .sideCat {
            background: url(../images/border.png) no-repeat left bottom;
            overflow: hidden;
            h2 {
                position: relative;
                height: 20px;
                line-height: 20px;
                overflow: hidden;
                color: inherit;
                padding: 15px 10px 15px 45px;
                transition: color 0.2s ease-in;
                .arrow {
                    display: block;
                    float: right;
                    margin-right: 0;
                    font-size: 2rem;
                    line-height: 20px;
                    margin-right: 0;
                    color: #333333;
                    @extend %transition;
                }
            }
            h2.active {
                .arrow {
                    color: #333333;
                    transform: rotate(180deg);
                }
            }
            .catList {
                display: none;
                padding-left: 30px;
                li {
                    padding: 0 0 15px 20px;
                    .grandsonCatList {
                        display: none;
                        margin-top: 15px;
                        li:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
                li.active {
                    .grandsonCatList {
                        display: block;
                    }
                }
                a {
                    position: relative;
                    color: inherit;
                   &:hover {
                        opacity: 0.6;
                    }
                }
//                a:hover {
//                    opacity: 0.6;
//                }
            }
        }
        .sideChildCat {
            h2:before {
                content: '\e904';
                position: absolute;
                top: 15px;
                left: 10px;
                font-family: 'icomoon';
                font-size: 2rem;
            }
            h2.active , h2:hover {
                color: #fcc68d;
                .icon {
                    color: #fcc68d;
                }
            }
        }
        .sideMamaCat {
            h2 {
                .icon {
                    font-size: 2.5rem;
                }
                &:before {
                    content: '\e905';
                    position: absolute;
                    top: 15px;
                    left: 10px;
                    font-family: 'icomoon';
                    font-size: 2.5rem;
                }
            }
//            h2:before {
//                content: '\e905';
//                position: absolute;
//                top: 15px;
//                left: 10px;
//                font-family: 'icomoon';
//                font-size: 2.5rem;
//            }
            h2.active , h2:hover {
                color: #fc8c96;
                .icon {
                    color: #fc8c96;
                }
            }
        }
        .sideAgeCat {
            h2:before {
                content: '\f004';
                position: absolute;
                top: 15px;
                left: 13px;
                font-family: 'FontAwesome';
                font-size: 1.8rem;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            h2.active , h2:hover {
                color: #7fb9ea;
                .icon {
                    color: #7fb9ea;
                }
            }
        }
    }
    .authorArea {
        margin-bottom: 50px;
        .heading {
            margin-bottom: 20px;
        }
        .authorList {
            overflow: hidden;
            li {
                width: 150px;
                float: left;
                margin-bottom: 30px;
                a {
                    color: #333333;
                    .imgArea {
                        width: 125px;
                        height: 125px;
                        border: solid 3px #7fb9ea;
                        border-radius: 50%;
                        overflow: hidden;
                        margin: 0 auto 10px;
                        img {
                            height: 100%;
                        }
                    }
                    .name {
                        text-align: center;
                    }
                    &:hover {
                        .name {
                            opacity: 0.7;
                        }
                    }
                }
//                a:hover {
//                    .name {
//                        opacity: 0.7;
//                    }
//                }
            }
            li.author {
                a {
                    .imgArea {
                        border: solid 3px #e95383;
                    }
                }
            }
        }
    }
    .rankingListArea {
        .heading:before {
            background: #595757;
        }
        .tabs {
            padding: 10px;
            .tabMenuList {
                width: 276px;
                margin: 0 auto;
                padding: 5px 2px 0;
                li {
                    margin-right: 0;
                    width: calc(100% / 3);
                    &.active:before {
                        left: 8px;
                    }
                }
            }
            .tabContentArea {
                width: 276px;
                box-sizing: border-box;
                margin: 0 auto;
            }
        }
        .tabContentArea {
            padding: 20px 10px;
            .rankingList {
                overflow: visible;
                li {
                    background: none;
                    padding-top: 0;
                    margin: 0 0 20px ;
                    width: auto;
                    position: relative;
                    float: none;
                    a {
                        overflow: hidden;
                    }
                    .imgArea {
                        float: left;
                        width: 70px;
                        height: 70px;
                        margin: 0 5px 0 0;
                        position: static;

                        .overlay {
                            z-index: 1;
                            .ovWrap {
                                width: 120px;
                                height: 55px;
                                top: 8px;
                                padding: 10px 0;
                                p , i {
                                    font-size: 1.4rem;
                                }
                                .bdT , .bdB {
                                    width: 120px;
                                }
                                .bdR , .bdL {
                                    height: 55px;
                                }
                            }
                        }
                    }
                    .content {
                        float: left;
                        width: 181px;
                        h2 {
                            line-height: inherit;
                            margin-bottom: 3px;
                        }
                        .articleData {
                            p {
                                font-size: 1.2rem;
                                &.data {
                                    margin-bottom: 3px;
                                }
                            }
                        }
                    }
                    &:hover {
                        .content , .imgArea img {
                            opacity: 0.5;
                        }
                    }
                    &:before {
                        position: absolute;
                        content: '';
                        top: -5px;
                        left: -5px;
                        width: 27px;
                        height: 27px;
                        border-radius: 50%;
                        background: #e95585;
                        color: #ffffff;
                        line-height: 28px;
                        text-align: center;
                        z-index: 2;
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        width: 25px;
                        height: 25px;
                        border: dashed 1px #ffffff;
                        border-radius: 50%;
                        top: -4px;
                        left: -4px;
                        box-sizing: border-box;
                        z-index: 3;
                    }
                    &:nth-child(1) {
                        &:before {
                            content: '1';
                        }
                    }
                    &:nth-child(2) {
                        &:before {
                            content: '2';
                        }
                    }
                    &:nth-child(3) {
                        &:before {
                            content: '3';
                        }
                    }
                    &:nth-child(4) {
                        &:before {
                            content: '4';
                        }
                    }
                    &:nth-child(5) {
                        &:before {
                            content: '5';
                        }
                    }
                    &:nth-child(6) {
                        &:before {
                            content: '6';
                        }
                    }
                    &:nth-child(7) {
                        &:before {
                            content: '7';
                        }
                    }
                    &:nth-child(8) {
                        &:before {
                            content: '8';
                        }
                    }
                    &:nth-child(9) {
                        &:before {
                            content: '9';
                        }
                    }
                    &:nth-child(10) {
                        &:before {
                            content: '10';
                        }
                    }
                }
            }
        }
    }
}



/*******
フッター
*************************/
footer {
    background: #585757;
    .aboutArea {
        overflow: hidden;
        width: 1040px;
        margin: 0 auto;
        color: #ffffff;
        padding: 40px 0;
        .left {
            float: left;
            width: 650px;
            h2 {
                padding: 0 5px;
                border-bottom: solid 2px #ffffff;
                width: 85px;
                margin-bottom: 30px;
                text-align: center;
            }
            .aboutList {
                overflow: hidden;
                padding: 0 10px;
                margin-bottom: 20px;
                li {
                    float:left;
                    margin: 0 20px 5px 0;
                    a {
                        color: #ffffff;
                    }
                    &:hover {
                        a {
                            opacity: 0.6;
                        }
                    }
                }
//                li:hover {
//                    a {
//                        opacity: 0.6;
//                    }
//                }
            }
            .otherArea {
                overflow: hidden;
                padding: 0 10px;
                .fbArea {
                    float: left;
                    margin-right: 10px;
                    width: 300px;
                    height: 220px;
                    overflow: hidden;
                }
                .bnrArea {
                    float: left;
                    .bnr1 {
                        margin-bottom: 10px;
                    }
                    .bnr1:hover , .bnr2:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
        .snsArea {
            float: right;
            overflow: hidden;
            font-size: 3rem;
            .fb , .inst {
                float: left;
                a {
                    color: #ffffff;
                }
            }
            .fb {
                margin-right: 10px;
            }
            .fb:hover , .inst:hover {
                a {
                    opacity: 0.6;
                }
            }
        }
    }
    .copy {
        background: #d9517c;
        small {
            display: block;
            width: 1040px;
            margin: 0 auto;
            color: #ffffff;
            text-align: center;
            font-size: 1.3rem;
            padding: 5px 0;
        }
    }
}


/*******
トップに戻るボタン
*************************/
#page-top {
    position: fixed;
    z-index: 100;
    right: 200px;
    bottom: 50px;
    a {
        img {
            display: block;
            width: 80%;
            height: 80%;
        }
    }
}
